<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BiometricWSSoap11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="BiometricWSSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.12:8084/Umeca/services/BiometricWS.BiometricWSHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="BiometricWSSoap11Binding"
                contract="BiometricSvc.BiometricWSPortType" name="BiometricWSHttpSoap11Endpoint" />
            <endpoint address="http://192.168.1.12:8084/Umeca/services/BiometricWS.BiometricWSHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="BiometricWSSoap12Binding"
                contract="BiometricSvc.BiometricWSPortType" name="BiometricWSHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>